[title] {
    color: red;
}


[title="Main page"] {
    color: orange;
}

[title="About me"] {
    color: green;

}

[title="Section"] {
    color: grey;
}

[title="Collection"] {
    color: bisque;
}

[title="Container portfolio"] {
    color: darkviolet;
}

[title="Section skills"] {
    color: blue;
}

[title="Container all"] {
    color: brown;
}

[title="Ania"] {
    color: deeppink;
}
[title="b"] {
    color: yellow;
}

[title="nazwa"] {
    color: cyan;
}

[title="IGA"] {
    color: darkolivegreen;
}

[title=wioska] {
    color: fuchsia;
}

[title="1"] {
    color: darkblue;
}
[title="1a"] {
    color: darkgreen;
    
}