body {
    background-color: red;
}

.p { 
    font-size: 10px;
    margin-bottom: 400px;
}
.bg {
  
    background-color: rgba(147,255,87,1);
    background-image: url(../img/akademia108_logo_mob.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 50px auto;

/*
    background: rgba(147,255,67,1) url(../img/akademia108_logo_mob) no-repeat 100px 50px; background-size: 500px auto ;
        
*/

}