#static {
    width: 400px;
    height: 200px;
    background-color: #ff790c;
}
#relative {
    position: relative;
    width: 500px;
    height: 600px;
    background-color: gray;
    top: 50px;
    left: 50px;
        
}

p {
    background-color: aliceblue;
}
#absolute {
    position: absolute;
    width: 20px;
    height: 30px;
    background-color: navajowhite;
    top: 300px;
    right: 50px;
}



#fixed {
    position: fixed;
    width: 300px;
    height: 250px;
    background-color: red;
    top: 100px; 
    left: 150px;
}

#sticky {
    width: 100%;
    height: 150px;
    background-color: cornflowerblue;
    position: sticky;
    top: 0;
    
    
}