iv.prostokat
{
width:100px;
height:200px;
background-color:khaki;
}

div {
    width: 400;
    height: 400;
    background-color: #666360 
}
#pomaranczowy {
    width: 200;
    height: 200;
    background-color: #ff912e 
}